{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../layout.njk" %}

{% block pageTitle %}
  Freedom of information request
{% endblock %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: backUrl
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {{
          govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
              {
              text: "Select an option",
              href: "#confirmationEmail"
              } if errors.confirmationEmail else null,
              {
                text: errors.incompleteEnquiry,
                href: '#'
              } if errors.incompleteEnquiry else null
          ]
          })
        }}
      {% endif %}
      <h1 class="govuk-heading-l">Summary</h1>
      {{
        govukSummaryList({
          rows: [
            {
              key: {
                text: "What do you want to do?"
              },
              value: {
                text: "Freedom of information request"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "First name"
              },
              value: {
                text: formValues.firstName
              },
              actions: {
                items: [
                  {
                    href: changeContactUrl,
                    text: "Change",
                    visuallyHiddenText: "first name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Last name"
              },
              value: {
                text: formValues.lastName
              },
              actions: {
                items: [
                  {
                    href: changeContactUrl,
                    text: "Change",
                    visuallyHiddenText: "last name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                text: formValues.emailAddress
              },
              actions: {
                items: [
                  {
                    href: changeContactUrl,
                    text: "Change",
                    visuallyHiddenText: "email address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Enquiry topic"
              },
              value: {
                html: formValues.about
              },
              actions: {
                items: [
                  {
                    href: changeDetailsUrl,
                    text: "Change",
                    visuallyHiddenText: "enquiry topic"
                  }
                ]
              }
            },
            {
              key: {
                text: "Enquiry"
              },
              value: {
                html: formValues.enquiry
              },
              actions: {
                items: [
                  {
                    href: changeDetailsUrl,
                    text: "Change",
                    visuallyHiddenText: "enquiry topic"
                  }
                ]
              }
            }
          ]
        })
      }}
      <form method="POST">
        {{
          govukRadios({
          name: "confirmationEmail",
          fieldset: {
            legend: {
              text: "Do you want to receive a confirmation email?"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ],
          errorMessage: { text: errors.confirmationEmail } if errors.confirmationEmail else null
          })
        }}

        {{
          govukButton({
            text: "Submit"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
